<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thêm Sản phẩm</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h2>Thêm sản phẩm mới</h2>
  <form th:action="@{/products/add}" method="post" class="w-50">
    <div class="mb-3">
      <label>Tên sản phẩm:</label>
      <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Giá khởi điểm:</label>
      <input type="number" name="price" class="form-control" min="100000" required>
    </div>
    <div class="mb-3">
      <label>Loại sản phẩm:</label>
      <select name="category" class="form-control" required>
        <option th:each="category : ${categories}" th:value="${category.cid}" th:text="${category.name}"></option>
      </select>
    </div>
    <div class="mb-3">
      <label>Trạng thái:</label>
      <input type="text" name="status" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
    <a href="../templates/product.html" class="btn btn-secondary">Quay lại</a>
  </form>
</div>
</body>
</html>